
@keyframes bounce{
    0%{
      opacity: 1;
      z-index: 1000;
      transform:translateY(20px);
    }
  
    100%{
    opacity: 0;
    z-index: -1;    
}
  }
  
  @keyframes bouton-one	
	{
	from
	{
	opacity: 0;
	transform: translateY(20px);
	}
	
	to
	{
	opacity: 1;
	}
	}
  
	@keyframes rotating {
		from{
			-webkit-transform: rotate(0deg);
		}
		to{
			-webkit-transform: rotate(360deg);
		}
	}