
@keyframes bounce{
    0%{
      opacity: 1;
      z-index: 1000;
      transform:translateY(20px);
    }
  
    100%{
    opacity: 0;
    z-index: -1;    
}
  }
  
  @keyframes bouton-one {
    0% {
        transform:translateY(40px);
        opacity: 0;
    }
    25% {
        transform:translateY(30px);
        opacity: 0;
    }
    50% {
        transform:translateY(20px);
        opacity: 0;
    }
    75% {
        transform:translateY(10px);
        opacity: 0.3;
    }
    100% {
        transform:translateY(0);
        opacity: 1;
    }
}
  
