

/*les variables*/
$policetitre:'Shrikhand', sans-serif;
$policebody:'Roboto', sans-serif;
$colorprimaire:#9356DC;
$colorsecondaire:#FF79DA;
$colortertiaire:#99E2D0;
$backgroundcolor:#F2F2F2;

/*generalites*/
body
{
    margin: 0;
    padding: 0;
}
* 
{
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}
/*footer*/

.foot{
    background-color:darken($backgroundcolor, 75%);
    color: white;
    padding-bottom: 30px;
    padding-left: 15px;
    font-family: $policebody;
    @media (min-width:380px){        
        text-align: center;
        padding-left: 0px;
    }
    &__titre{
        margin-top: 0px;
        padding:20px 0px 20px 0px;
        font-family: $policetitre;    
    }
    &__proposer{
        @extend %typography-flexstyle;
        @media (min-width:380px){
        justify-content: center;
        padding-left: 0px;
        }
    }
    &__proposer p{
            margin-left: 15px;
            margin-top: 0px;
        }
    &__devenir{
        @extend %typography-flexstyle;
        @media (min-width:380px){
        justify-content: center;
        padding-left: 0px;
        }
    }
    &__devenir i{
        font-size: 12px;
    }
    &__devenir p{
        margin: -3px 0px 0px 12px;
    }
    &__contact{
        color: white;
        text-decoration: none;
        margin-top: 20px;
    }
}