

.header{
    @extend %typography-flexstyle;
    &__logo{
        text-align: center;
        font-family: $policetitre;
        padding: 15px 0px 15px 0px;
        font-size: 1.7em;
        margin-left: 70px;
    }
    &__fleche{
        padding-top: 30px;
        margin-left: 20px;
        color: #7e7e7e;
    }
}
.image{
    height: 270px;
}
.fa1{
    color: #7e7e7e;
    position: absolute;
}
.fa2{
    color:$colorprimaire;
    position: absolute;
    top: -9999px;
    left: -9999px;
    
}
.titre__coeur{
    &:hover{
        .fa1{
            opacity: 0;
        }
        .fa2{
            position: relative;
            top: 0;
            left: 0;
        
        }
    }
}
.restaurant-image{ 
    max-width: 100%;
    height: 310px;
    width: 100%;
    object-fit: cover;
}
.restaurant{
    margin-top: 0px;
    padding-bottom: 40px;
    border-radius: 40px 40px 0px 0px;
    position: relative;
    background-color:#F0F3F5;
    &__titre{
        @extend %typography-flexstyle;
        font-family: $policetitre;
        margin-left: 20px;
    }
    i{
        margin-top: 30px;
        margin-right:-20px;

   }
}

.restaurant__entrees{
    font-family: $policebody;
    margin-left: 20px;
    margin-right: 20px;
   &--intitule{
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        flex: 1;
        @include intitule;  
    }
}
.restaurant__plats{
    font-family: $policebody;
    margin-left: 20px;
    margin-right: 20px;
    &--intitule{
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        flex: 1;
        @include intitule;  
        
    }
}
.restaurant__desserts{
    font-family: $policebody;
    margin-left: 20px;
    margin-right: 20px;
    &--intitule{
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        flex: 1;  
        @include intitule;  
    }
}
.prix{
    
    font-family: $policebody;
    margin-right: 5px;
    margin-top: 30px;
    }
.titre{
    padding-left: 8px;
    font-size: 0.9em;
    font-family: $policebody;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
.commander{
    display: flex;
    justify-content: center;
    margin: 40px 0px 40px 0px;
    &__button{
    text-align: center;        
    border: 1px solid transparent;
    border-radius: 40px;
    color: white;
    padding: 20px;
    width: 200px;
    font-family: $policebody;
    font-size: 1.1em;
    background: linear-gradient(-10deg, #9356DC, #FF79DA);
    transition: background-color 500ms ease-in-out;
    opacity: 1;
    } 
    & button:hover{
        opacity: 0.8; 
        box-shadow: 6px 6px 15px rgba(0, 0, 0, 0.4);
    }     
}

.Animation_selection_menu {
    display: flex;
    justify-content:center;
    background-color: $colortertiaire;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    width: 0;
    transition: width 500ms;
    transform-origin: right;
    top: -9999px;
    left: -9999px;
    position: absolute;
    margin-top: 20px;
    margin-bottom: 20px;
}
.fa-check-circle {  
    color:white;
    display: flex;
    justify-content: center;
    align-items: center;
    display:none;
}


.menu{
    display:flex;
    flex-direction: row;
    animation: bouton-one 900ms ease-in-out both;
    &:hover > .Animation_selection_menu { 
    transition: width 500ms ease-in-out;
    width:50px;
    top: 0px;
    left: 0px;
    position: relative;
    }
    &:hover .fa-check-circle{
        animation: rotating 0.3s;
        margin-right: 5px;

    }
    &:hover > .restaurant__entrees--intitule{
        border-top-right-radius: 0px;
        border-bottom-right-radius: 0px;
    }
    &:hover > .restaurant__plats--intitule{
        border-top-right-radius: 0px;
        border-bottom-right-radius: 0px;
    }
    &:hover > .restaurant__desserts--intitule{
        border-top-right-radius: 0px;
        border-bottom-right-radius: 0px;
        }
}



.restaurant__animation .animation2{animation-delay: 300ms;}	
.restaurant__animation .animation3{animation-delay: 500ms;}
.restaurant__animation .animation4{animation-delay: 700ms;}
.restaurant__animation .animation5{animation-delay: 900ms;}
.restaurant__animation .animation6{animation-delay: 1s;}
.restaurant__animation .animation7{animation-delay: 1.4s;}
.restaurant__animation .animation8{animation-delay: 1.6s;}
.restaurant__animation .animation9{animation-delay: 1.8s;}
.restaurant__animation .animation10{animation-delay: 2s;}

 
