
/*body*/
.loader {
    position: fixed;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    display:flex;
    align-items:center;
    justify-content:center;
    animation: bounce 3s ease-in-out 1;
    opacity: 0;
    z-index: -1;   
        & span{
    display: inline-block;
    width: 20px;
    height: 20px;
    border-radius: 100%;
    background-color: $colorprimaire;
    margin: 35px 5px;
    }
}
  

  

.header1{
    display: flex;
    flex-direction: column;
    &__logo{
        text-align: center;
        font-family: $policetitre;
        padding: 15px 0px 15px 0px;
        font-size: 1.7em;
        box-shadow: 0.25rem 0.25rem 10px rgba(0, 0, 0, 0.25);
        margin-bottom: 6px;

    }
    &__localisation{
        text-align: center;
        font-family: $policebody;
        padding: 1px 0px 1px 0px;
        background-color:darken($backgroundcolor, 5%);
    }
}
.champ
{
    border: transparent;
    background-color:darken($backgroundcolor, 5%);
    font-size: 1em;


}
::placeholder
{
    color:black;
    padding-left: 10px;
}
.presentation{
    text-align: center;
    background-color: $backgroundcolor;
    padding: 30px 0px 50px 0px;
    font-family: $policebody;
    &__res{
        font-weight: bold;
        margin-bottom: 10px;
        font-size: 1.2em;
    }
    &__dec{
        margin-bottom: 30px;
        font-size: 1.2em;
        font-weight: 300;
        color: gray;
    }
    &__exp{
        & a{
        text-decoration: none;
        border: 1px solid transparent;
        border-radius: 20px;
        color: white;
        padding: 10px 20px 10px 20px;
        background: linear-gradient(-10deg, #9356DC, #FF79DA);
        transition: background-color 500ms ease-in-out;
        opacity: 1;
    }  
        & a:hover{
        opacity: 0.8;            
        box-shadow: 6px 6px 15px rgba(0, 0, 0, 0.4);
        }
    } 
}         

  .fonctionnement {
    margin: 60px 10px 60px 15px;
    font-family: $policebody;
    @media (min-width:1024px){
        margin-left: 40px;
        margin-right: 20px;
    }
    &__stick{
        background-color: $colorprimaire;
        color: white;
        position: relative;
        right: 30px;
        top:0px;
        padding: 6px 8px;
        border-radius: 50%;
        width: 30px;
        height: 30px;
        text-align: center;
    }
    &__title {
      @media (min-width:1024px){
          width: 100%;  
    }
    }
    &__lesbutons{
      margin: 0;
      padding: 0;
    }
        & ol{
            padding-left: 0px;
            @media (min-width:1024px){
                display: flex;
                justify-content: space-between;
            }
        }
        & li:hover{
            opacity: 0.6;            
            box-shadow: 6px 6px 15px rgba(0, 0, 0, 0.4);
            background-color: lighten($colorprimaire, 25%);        
        }
    &__bouton{
      padding: 20px;
      margin: 16px 0 16px 12px;
      box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.125);
      border-radius:20px;
      background-color: rgba(216, 216, 216, 0.2);
      display: flex;
      align-items: center;
      opacity:1 ;
    }
    &__image {
      margin-right: 25px;
      color: #7e7e7e;
    }
  }

.restaurants{
    background-color: $backgroundcolor;
    font-family: $policebody;
    padding: 30px 0px 30px 0px;
    @media (min-width:500px){
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }
    &__stick{
        background-color: $colortertiaire;
        color: darken($colortertiaire, 50%);
        position: relative;
        right: -200px;
        top:-135px;
        padding: 8px;
        border-radius: 2px;
        @media (min-width:380px){
            right: -230px;
        } 
        @media (min-width:500px){
            right: -330px;
        }
    }
    &__titre{
        @include margebodystyle;
        @media (min-width:380px){
            margin-left: 40px;
        }  
        @media (min-width:500px){
            width: 100%;
            text-align: center;

        }
    }
    &__palette figure{
        @include resto-figure;
        @media (min-width:380px){
            @include margin-responsive;   
        }  
        @media (min-width:500px){
            @include largeur-responsive;
        } 
        }
        & a{
            text-decoration: none;
            color: black;

        }
    &__note figure{
        @include resto-figure;
        @media (min-width:380px){
            @include margin-responsive;   
        }  
        @media (min-width:500px){
            @include largeur-responsive;
        } 
    }
    &__française figure{
        @include resto-figure;
        @media (min-width:380px){
            @include margin-responsive;  
        } 
        @media (min-width:500px){
            @include largeur-responsive;
        }  
        
    }
    &__délice figure{
        @include resto-figure;
        @media (min-width:380px){
            @include margin-responsive;   
        } 
        @media (min-width:500px){
            @include largeur-responsive;
        } 
    }
}  



.titre-palette{
    @extend %typography-flexstyle;
    text-decoration: none;

    &__intitule{
        margin-top: -10px;
        margin-left: 8px;
    }
    &__intitule--bold{
        @include intitule-gras;
    }
    
}



.titre-note{
    @extend %typography-flexstyle;
    &__intitule{
        margin-top: -10px;
        margin-left: 8px;
    }
    &__intitule--bold{
        @include intitule-gras;
    }
    
}
.titre-française{
    @extend %typography-flexstyle;
    &__intitule{
        @include intitule-resto;
        margin-right: 30px;
    }
    &__intitule--bold{
        @include intitule-gras;
    }
    
}
.titre-délice{
    @extend %typography-flexstyle;
    &__intitule{
        @include intitule-resto;
        margin-right: 20px;
    }
    &__intitule--bold{
        @include intitule-gras;
    }
    

}

.image1,.image2,.image3,.image4{
    width: 290px;
    height: 150px;
    object-fit: cover;
    border-radius: 10px 10px 0px 0px; 
    @media (min-width:380px){
        width: 320px;    
    } 
    @media (min-width:500px){
        width: 420px;    
    }  
}
.fa1{
    color: #7e7e7e;
    position: absolute;
    @media (min-width:380px){
        margin-left: 130px;
    } 
    @media (min-width:500px){
        margin-left: 230px;
    }  
}
.fa2{
    position: absolute;
    top: -9999px;
    left: -9999px;
    @media (min-width:380px){
        margin-left: 130px;
    } 
    @media (min-width:500px){
        margin-left: 230px;
    }  
}
.titre__coeur{
    & i{
        transition: opacity 0.3s ease-in-out;
    }
    &:hover{
        i{
            background: linear-gradient(-10deg, #9356DC, #FF79DA);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }
        .fa1{
            opacity: 0;
        }
        .fa2{
            position: relative;
            top: 0;
            left: 0;
        }
    }
}
