/*extensions*/
%typography-flexstyle{
    display: flex;
    flex-direction: row;
}

/*mixin*/
@mixin resto-figure{
    border: 1px solid white;
    background-color: white;
    border-radius: 10px;
    width: 290px;
    margin-left: 15px;
    box-shadow: 4px 4px 16px rgba(0, 0, 0, 0.1);
    padding-bottom: 10px;
}
@mixin intitule-resto{
    margin-left: 8px;
    margin-top: 10px;
}
@mixin intitule-gras{
    font-weight: bold;
}

@mixin intitule {
    border: 1px solid white;
    background-color: white;
    margin:20px 20px 20px 0px;
    border-radius:10px ;
    box-shadow: 4px 4px 16px rgba(0, 0, 0, 0.1);
    font-family: $policebody;
}
@mixin margebodystyle{
    margin-left: 15px;

}
@mixin margin-responsive{
    margin-left: 40px;
    width: 320px; 
}
@mixin largeur-responsive{
    width: 420px;    
}
@mixin animation-boucle{
    transition: width 500ms ease-in-out;
    width:85%;
    display:flex;       
    flex-direction: row;
    margin-right: 0;
}
