/*extensions*/
%typography-flexstyle{
    display: flex;
    flex-direction: row;
}

/*mixin*/
@mixin resto-figure{
    border: 1px solid white;
    background-color: white;
    border-radius: 10px;
    width: 290px;
    box-shadow: 4px 4px 16px rgba(0, 0, 0, 0.1);
    padding-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
}
@mixin intitule-gras{
    font-weight: bold;
}
@mixin intitule {
    border: 1px solid white;
    background-color: white;
    border-radius:10px ;
    margin:20px 0px 0px 0px;
    box-shadow: 4px 4px 16px rgba(0, 0, 0, 0.1);
    font-family: $policebody;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
@mixin margin-responsive{
    margin-left: auto;
    margin-right: auto;
    width: 320px; 
}
@mixin largeur-responsive{
    width: 420px;    
}
