/*generalites*/

body
{
    margin: 0;
    padding: 0;
}
body,html
{
    max-width: 600px;
    height: 100%;
}
* 
{
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}


/*les variables*/
$policetitre:'Shrikhand', sans-serif;
$policebody:'Roboto', sans-serif;
$colorprimaire:#9356DC;
$colorsecondaire:#FF79DA;
$colortertiaire:#99E2D0;
$backgroundcolor:#F2F2F2;



/*mixin*/
@mixin foot{
    background-color:darken($backgroundcolor, 75%);
    color: white;
    padding-bottom: 30px;
    padding-left: 15px;
    font-family: $policebody;
}
@mixin foot-titre{
    margin-top: 0px;
    padding:20px 0px 20px 0px;
    font-family: $policetitre;
}
@mixin foot-contact{
    color: white;
    text-decoration: none;
    margin-top: 20px;
}
@mixin française-image {
    max-width: 100%;
    height: 210px;
    width: 100%;
    object-fit: cover;
}
@mixin française {
    margin-top: 0px;
    padding-bottom: 40px;
    border-radius: 40px 40px 0px 0px;
    z-index: 1;
    position: relative;
    background-color:#F0F3F5;
}
@mixin française-commander{
    text-align: center;
    border: 1px solid $colorprimaire;
    border-radius: 40px;
    color: white;
    background-color:#9356DC;
    padding: 20px;
    width: 200px;
    margin-left: 30px;
}
@mixin française-titre{
    display: flex;
        flex-direction: row;
        font-family: $policetitre;
        margin-left: 20px;
}
@mixin entrees{
    font-family: $policebody;
    margin-left: 20px;
}
@mixin entrees-intitule {
    display: flex;
    border: 1px solid white;
    margin:20px 20px 20px 0px;
    background-color: white;
    border-radius:10px ;
    box-shadow: 4px 4px 16px rgba(0, 0, 0, 0.1);
}
@mixin plats {
    font-family: $policebody;
}
@mixin plats-intitule {
    display: flex;
        border: 1px solid white;
        margin:20px 20px 20px 0px;
        background-color: white;
        border-radius:10px ;
        box-shadow: 4px 4px 16px rgba(0, 0, 0, 0.1)
}
@mixin desserts {
    font-family: $policebody;
}
@mixin desserts-intitule {
    display: flex;
        border: 1px solid white;
        margin:20px 20px 20px 0px;
        background-color: white;
        border-radius:10px ;
        box-shadow: 4px 4px 16px rgba(0, 0, 0, 0.1)
}
/*extensions*/
%typography-logo{
    text-align: center;
    font-family: $policetitre;
    padding: 15px 0px 15px 0px;
    font-size: 1.7em;
    margin-left: 70px;
}
%typography-flex{
    display: flex;
    flex-direction: row;
}
%typography-margebody{  
    margin-left: 20px;
}
%typography-images{
    width: 350px;
    height: 170px;
    object-fit: cover;
}
%typography-i{
    margin-top: 30px;
    margin-left: 20px;
}
%typography-prix{
    margin-top: 35px;
margin-left: 80px;
}


/*body*/
.header{
    @extend %typography-flex;
    &__logo{
        @extend %typography-logo;
    }
    &__fleche{
        padding-top: 30px;
       @extend %typography-margebody;
    }
}
.image{
    height: 170px;
}
.française-image{ 
    @include française-image;
}
.française{
   @include française;
    &__commander{
        @include française-commander;
    }
    &__titre{
        @include française-titre;
    }
    i{
        @extend %typography-i;
    }
}
.française__entrees{
    @include entrees;
    &--intitule{
       @include entrees-intitule;
    }
}
.française__plats{
    @include plats;
    &--intitule{
        @include plats-intitule;
    }
}
.française__desserts{
    @include desserts;
    &--intitule{
        @include desserts-intitule;
    }
}
.prix{
@extend %typography-prix;
}
.titre{
    padding-left: 8px;
}
.foot{
    @include foot;
    &__titre{
        @include foot-titre;
    }
    &__proposer{
        @extend %typography-flex;
    }
    &__proposer p{
            margin-left: 10px;
            margin-top: 0px;
        }
    &__devenir{
        @extend %typography-flex;
    }
    &__devenir p{
        margin-left: 10px;
        margin-top: -3px;
        margin-bottom: 0px;
    }
    &__contact{
        @include foot-contact;
    }
}