/*generalites*/

body
{
    margin: 0;
    padding: 0;
}
body,html
{
    max-width: 320px;
    height: 100%;
}
* 
{
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}


/*les variables*/
$policetitre:'Shrikhand', sans-serif;
$policebody:'Roboto', sans-serif;
$colorprimaire:#9356DC;
$colorsecondaire:#FF79DA;
$colortertiaire:#99E2D0;
$backgroundcolor:#F2F2F2;


/*mixin*/
@mixin resto-figure{
    border: 1px solid white;
    background-color: white;
    border-radius: 10px;
    width: 290px;
    margin-left: 15px;
    box-shadow: 0px 0px 20px $backgroundcolor;
    padding-bottom: 10px;
}
@mixin titre-resto{
    display: flex;
    flex-direction: row;
}
@mixin intitule-resto{
    margin-left: 8px;
    margin-top: 10px;
}
@mixin intitule-gras{
    font-weight: bold;
}
@mixin coeur-resto{
    margin-left: 120px;
    margin-top: 20px;
}
@mixin presentation{
    text-align: center;
    background-color: $backgroundcolor;
    padding: 30px 0px 50px 0px;
    font-family: $policebody;
}
@mixin presentation-res{
    font-weight: bold;
    margin-bottom: 10px;
    font-size: 1.2em;
}
@mixin presentation-dec{
    margin-bottom: 30px;
}
@mixin presentation-exp {
    text-decoration: none;
    border: 1px solid $colorprimaire;
    border-radius: 20px;
    color: white;
    background-color:#9356DC;
    padding: 10px;
}
@mixin restaurant{
    background-color: $backgroundcolor;
    font-family: $policebody;
    padding: 30px 0px 30px 0px;
} 
@mixin foot{
    background-color:darken($backgroundcolor, 75%);
    color: white;
    padding-bottom: 30px;
    padding-left: 15px;
    font-family: $policebody;
}
@mixin foot-titre{
    margin-top: 0px;
    padding:20px 0px 20px 0px;
    font-family: $policetitre;
}
@mixin foot-contact{
    color: white;
    text-decoration: none;
}

/*extensions*/
%typography-images{
    width: 290px;
    height: 150px;
    object-fit: cover;
    border-radius: 10px 10px 0px 0px;
}
%typography-logo{
    text-align: center;
    font-family: $policetitre;
    padding: 15px 0px 15px 0px;
    font-size: 1.7em;
}
%typography-localisation{
    text-align: center;
    font-family: $policebody;
    padding: 1px 0px 1px 0px;
    background-color:darken($backgroundcolor, 5%);
}
%typography-flex{
    display: flex;
    flex-direction: row;
}
%typography-margebody{
    margin-left: 15px;

}

/*body*/
.header{
    &__logo{
        @extend %typography-logo;
    }
    &__localisation{
        @extend %typography-localisation
    }
}
.champ
{
    border: transparent;
    background-color:darken($backgroundcolor, 5%);

}
::placeholder
{
    color:black;
    padding-left: 10px;
}
.presentation{
    @include presentation;
    &__res{
        @include presentation-res;
    }
    &__dec{
        @include presentation-dec;
    }
    &__exp a{
        @include presentation-exp;
    }
}
.fonctionnement{
    padding: 40px 0px 50px 0px;
    @extend %typography-margebody;
    &__titre{
        padding-bottom: 20px;
    }
    &__choisissez{
        @extend %typography-flex;
        border: 1px solid gray;
    }
    &__choisissez p{
        margin-top: 0px;
        margin-left: 30px;
    }
    &__choisissez i{
        margin-left: 30px;
    }
}








.restaurant{
    @include restaurant;
    &__titre{
        @extend %typography-margebody;
    }
    &__palette figure{
        @include resto-figure;
    }
    &__note figure{
        @include resto-figure;
    }
    &__française figure{
        @include resto-figure;
    }
    &__délice figure{
        @include resto-figure;
    }
}
.titre-palette{
    @include titre-resto;
    &__intitule{
        @include intitule-resto;
    }
    &__intitule--bold{
        @include intitule-gras;
    }
    &__coeur{
        @include coeur-resto;
    }
}
.titre-note{
    @include titre-resto;
    &__intitule{
        @include intitule-resto;
    }
    &__intitule--bold{
        @include intitule-gras;
    }
    &__coeur{
        @include coeur-resto;
    }
}
.titre-française{
    @include titre-resto;
    &__intitule{
        @include intitule-resto;
    }
    &__intitule--bold{
        @include intitule-gras;
    }
    &__coeur{
        @include coeur-resto;
    }
}
.titre-délice{
    @include titre-resto;
    &__intitule{
        @include intitule-resto;
    }
    &__intitule--bold{
        @include intitule-gras;
    }
    &__coeur{
        @include coeur-resto;
    }
}
.image1,.image2,.image3,.image4{
    @extend %typography-images;
}


/*footer*/
.foot{
    @include foot;
    &__titre{
        @include foot-titre;
    }
    &__proposer{
        @extend %typography-flex;
    }
    &__proposer p{
        margin-left: 10px;
        margin-top: 0px;
    }
    &__devenir{
        @extend %typography-flex;
    }
    &__devenir p{
        margin-left: 10px;
        margin-top: -3px;
        margin-bottom: 0px;
    }
    &__contact{
        @include foot-contact;
    }
}
