@charset "UTF-8";
/*extensions*/
.foot__proposer, .foot__devenir, .header, .restaurant__titre, .titre-palette, .titre-note, .titre-française, .titre-délice {
  display: flex;
  flex-direction: row; }

/*mixin*/
/*les variables*/
/*generalites*/
body {
  margin: 0;
  padding: 0; }

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

/*footer*/
.foot {
  background-color: #333333;
  color: white;
  padding-bottom: 30px;
  padding-left: 15px;
  font-family: "Roboto", sans-serif; }
  @media (min-width: 380px) {
    .foot {
      text-align: center;
      padding-left: 0px; } }
  .foot__titre {
    margin-top: 0px;
    padding: 20px 0px 20px 0px;
    font-family: "Shrikhand", sans-serif; }
  @media (min-width: 380px) {
    .foot__proposer {
      justify-content: center;
      padding-left: 0px; } }
  .foot__proposer p {
    margin-left: 10px;
    margin-top: 0px; }
  @media (min-width: 380px) {
    .foot__devenir {
      justify-content: center;
      padding-left: 0px; } }
  .foot__devenir p {
    margin-left: 10px;
    margin-top: -3px;
    margin-bottom: 0px; }
  .foot__contact {
    color: white;
    text-decoration: none;
    margin-top: 20px; }

@keyframes bounce {
  0% {
    opacity: 1;
    z-index: 1000;
    transform: translateY(20px); }
  100% {
    opacity: 0;
    z-index: -1; } }
.header__logo {
  text-align: center;
  font-family: "Shrikhand", sans-serif;
  padding: 15px 0px 15px 0px;
  font-size: 1.7em;
  margin-left: 70px; }
.header__fleche {
  padding-top: 30px;
  margin-left: 20px;
  color: #7e7e7e; }

.image {
  height: 170px; }

.restaurant-image {
  max-width: 100%;
  height: 210px;
  width: 100%;
  object-fit: cover; }

.restaurant {
  margin-top: 0px;
  padding-bottom: 40px;
  border-radius: 40px 40px 0px 0px;
  z-index: 1;
  position: relative;
  background-color: #F0F3F5;
  animation: bouton-presentation top 4000ms ease-in-out infinite; }
  .restaurant__titre {
    font-family: "Shrikhand", sans-serif;
    margin-left: 20px; }
  .restaurant i {
    margin-top: 30px;
    margin-left: 20px; }

.restaurant__entrees {
  font-family: "Roboto", sans-serif;
  margin-left: 20px; }
  .restaurant__entrees--intitule {
    border: 1px solid white;
    background-color: white;
    margin: 20px 20px 20px 0px;
    border-radius: 10px;
    box-shadow: 4px 4px 16px rgba(0, 0, 0, 0.1);
    font-family: "Roboto", sans-serif;
    animation: bouton-presentation top 4000ms ease-in-out infinite; }

.restaurant__plats {
  font-family: "Roboto", sans-serif; }
  .restaurant__plats--intitule {
    border: 1px solid white;
    background-color: white;
    margin: 20px 20px 20px 0px;
    border-radius: 10px;
    box-shadow: 4px 4px 16px rgba(0, 0, 0, 0.1);
    font-family: "Roboto", sans-serif;
    animation: bouton-presentation top 4000ms ease-in-out infinite; }

.restaurant__desserts {
  font-family: "Roboto", sans-serif; }
  .restaurant__desserts--intitule {
    border: 1px solid white;
    background-color: white;
    margin: 20px 20px 20px 0px;
    border-radius: 10px;
    box-shadow: 4px 4px 16px rgba(0, 0, 0, 0.1);
    font-family: "Roboto", sans-serif;
    animation: bouton-presentation top 4000ms ease-in-out infinite; }

.prix {
  display: flex;
  justify-content: flex-end;
  font-family: "Roboto", sans-serif;
  margin-right: 10px; }

.titre {
  padding-left: 8px;
  height: 5px;
  max-width: 250px;
  font-size: 0.9em;
  font-family: "Roboto", sans-serif; }

.commander {
  display: flex;
  justify-content: center; }
  .commander__button {
    text-align: center;
    border: 1px solid transparent;
    border-radius: 40px;
    color: white;
    padding: 20px;
    width: 200px;
    font-family: "Roboto", sans-serif;
    font-size: 1.1em;
    background: linear-gradient(-10deg, #9356DC, #FF79DA);
    transition: background-color 500ms ease-in-out;
    opacity: 1; }
  .commander button:hover {
    opacity: 0.8;
    box-shadow: 6px 6px 15px rgba(0, 0, 0, 0.4); }

@keyframes bouton-presentation {
  0%, 75%, 100% {
    transform: translateY(0); }
  25% {
    transform: translateY(-20px); } }
/*body*/
.loader {
  position: fixed;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  animation: bounce 3s ease-in-out 1;
  opacity: 0;
  z-index: -1; }
  .loader span {
    display: inline-block;
    width: 20px;
    height: 20px;
    border-radius: 100%;
    background-color: #9356DC;
    margin: 35px 5px; }

.header1 {
  display: flex;
  flex-direction: column; }
  .header1__logo {
    text-align: center;
    font-family: "Shrikhand", sans-serif;
    padding: 15px 0px 15px 0px;
    font-size: 1.7em;
    box-shadow: 0.25rem 0.25rem 10px rgba(0, 0, 0, 0.25);
    margin-bottom: 6px; }
  .header1__localisation {
    text-align: center;
    font-family: "Roboto", sans-serif;
    padding: 1px 0px 1px 0px;
    background-color: #e5e5e5; }

.champ {
  border: transparent;
  background-color: #e5e5e5;
  font-size: 1em; }

::placeholder {
  color: black;
  padding-left: 10px; }

.presentation {
  text-align: center;
  background-color: #F2F2F2;
  padding: 30px 0px 50px 0px;
  font-family: "Roboto", sans-serif; }
  .presentation__res {
    font-weight: bold;
    margin-bottom: 10px;
    font-size: 1.2em; }
  .presentation__dec {
    margin-bottom: 30px;
    font-size: 1.2em;
    font-weight: 300;
    color: gray; }
  .presentation__exp a {
    text-decoration: none;
    border: 1px solid transparent;
    border-radius: 20px;
    color: white;
    padding: 10px 20px 10px 20px;
    background: linear-gradient(-10deg, #9356DC, #FF79DA);
    transition: background-color 500ms ease-in-out;
    opacity: 1; }
  .presentation__exp a:hover {
    opacity: 0.8;
    box-shadow: 6px 6px 15px rgba(0, 0, 0, 0.4); }

.fonctionnement {
  margin: 60px 10px 60px 15px;
  font-family: "Roboto", sans-serif; }
  @media (min-width: 1024px) {
    .fonctionnement {
      margin-left: 40px;
      margin-right: 20px; } }
  .fonctionnement__stick {
    background-color: #9356DC;
    color: white;
    position: relative;
    right: 30px;
    top: 0px;
    padding: 6px 8px;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    text-align: center; }
  @media (min-width: 1024px) {
    .fonctionnement__title {
      width: 100%; } }
  .fonctionnement__lesbutons {
    margin: 0;
    padding: 0; }
  .fonctionnement ol {
    padding-left: 0px; }
    @media (min-width: 1024px) {
      .fonctionnement ol {
        display: flex;
        justify-content: space-between; } }
  .fonctionnement li:hover {
    opacity: 0.6;
    box-shadow: 6px 6px 15px rgba(0, 0, 0, 0.4);
    background-color: #d7c0f2; }
  .fonctionnement__bouton {
    padding: 20px;
    margin: 16px 0 16px 12px;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.125);
    border-radius: 20px;
    background-color: rgba(216, 216, 216, 0.2);
    display: flex;
    align-items: center;
    opacity: 1; }
  .fonctionnement__image {
    margin-right: 25px;
    color: #7e7e7e; }

.restaurants {
  background-color: #F2F2F2;
  font-family: "Roboto", sans-serif;
  padding: 30px 0px 30px 0px; }
  @media (min-width: 500px) {
    .restaurants {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center; } }
  .restaurants__stick {
    background-color: #99E2D0;
    color: #1b6150;
    position: relative;
    right: -200px;
    top: -135px;
    padding: 8px;
    border-radius: 2px; }
    @media (min-width: 380px) {
      .restaurants__stick {
        right: -230px; } }
    @media (min-width: 500px) {
      .restaurants__stick {
        right: -330px; } }
  .restaurants__titre {
    margin-left: 15px; }
    @media (min-width: 380px) {
      .restaurants__titre {
        margin-left: 40px; } }
    @media (min-width: 500px) {
      .restaurants__titre {
        width: 100%;
        text-align: center; } }
  .restaurants__palette figure {
    border: 1px solid white;
    background-color: white;
    border-radius: 10px;
    width: 290px;
    margin-left: 15px;
    box-shadow: 4px 4px 16px rgba(0, 0, 0, 0.1);
    padding-bottom: 10px; }
    @media (min-width: 380px) {
      .restaurants__palette figure {
        margin-left: 40px;
        width: 320px; } }
    @media (min-width: 500px) {
      .restaurants__palette figure {
        width: 420px; } }
  .restaurants a {
    text-decoration: none;
    color: black; }
  .restaurants__note figure {
    border: 1px solid white;
    background-color: white;
    border-radius: 10px;
    width: 290px;
    margin-left: 15px;
    box-shadow: 4px 4px 16px rgba(0, 0, 0, 0.1);
    padding-bottom: 10px; }
    @media (min-width: 380px) {
      .restaurants__note figure {
        margin-left: 40px;
        width: 320px; } }
    @media (min-width: 500px) {
      .restaurants__note figure {
        width: 420px; } }
  .restaurants__française figure {
    border: 1px solid white;
    background-color: white;
    border-radius: 10px;
    width: 290px;
    margin-left: 15px;
    box-shadow: 4px 4px 16px rgba(0, 0, 0, 0.1);
    padding-bottom: 10px; }
    @media (min-width: 380px) {
      .restaurants__française figure {
        margin-left: 40px;
        width: 320px; } }
    @media (min-width: 500px) {
      .restaurants__française figure {
        width: 420px; } }
  .restaurants__délice figure {
    border: 1px solid white;
    background-color: white;
    border-radius: 10px;
    width: 290px;
    margin-left: 15px;
    box-shadow: 4px 4px 16px rgba(0, 0, 0, 0.1);
    padding-bottom: 10px; }
    @media (min-width: 380px) {
      .restaurants__délice figure {
        margin-left: 40px;
        width: 320px; } }
    @media (min-width: 500px) {
      .restaurants__délice figure {
        width: 420px; } }

.titre-palette {
  text-decoration: none; }
  .titre-palette__intitule {
    margin-top: -10px;
    margin-left: 8px; }
  .titre-palette__intitule--bold {
    font-weight: bold; }

.titre-note__intitule {
  margin-top: -10px;
  margin-left: 8px; }
.titre-note__intitule--bold {
  font-weight: bold; }

.titre-française__intitule {
  margin-left: 8px;
  margin-top: 10px;
  margin-right: 30px; }
.titre-française__intitule--bold {
  font-weight: bold; }

.titre-délice__intitule {
  margin-left: 8px;
  margin-top: 10px;
  margin-right: 20px; }
.titre-délice__intitule--bold {
  font-weight: bold; }

.image1, .image2, .image3, .image4 {
  width: 290px;
  height: 150px;
  object-fit: cover;
  border-radius: 10px 10px 0px 0px; }
  @media (min-width: 380px) {
    .image1, .image2, .image3, .image4 {
      width: 320px; } }
  @media (min-width: 500px) {
    .image1, .image2, .image3, .image4 {
      width: 420px; } }

.fa1 {
  color: #7e7e7e;
  position: absolute;
  z-index: 4;
  margin-left: 100px; }

.fa2 {
  color: #9356DC;
  position: absolute;
  z-index: 2;
  top: -9999px;
  left: -9999px;
  margin-left: 100px; }

.titre__coeur:hover .fa1 {
  opacity: 0; }
.titre__coeur:hover .fa2 {
  position: relative;
  top: 0;
  left: 0; }

/*# sourceMappingURL=main.css.map */
